.conjugator {
    width: 80%;
    max-width: 1600px;
    min-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

    transition: width 0.3s;

    @media (max-width: 1024px) {
        width: 90%;
    }

    .tense {
        color: #686868;
        height: 25px;
        margin: 0;
        padding: 0;
        margin-bottom: 4px;
    }

    .verb-container {
        display: flex;
        align-items: baseline;
        position: relative;
        flex-flow: column nowrap;
        word-wrap: 0;
        margin: 20px 0;
        font-size: 26px;
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;

        transition: font-size 0.3s;

        @media (max-width: 520px) {
            h2 {
                font-size: 26px;
            }
        }
        p {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 0.75rem;
            color: #686868;
            font-size: 12px;
        }
    }
    .mood {
        line-height: 0;
        font-weight: bold;
        color: #686868;
        user-select: none;
        cursor: default;
    }
    form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .pronoun {
            min-width: 64px;
            position: absolute;
            color: #2D2D2D;
            font-size: 18px;
            transform: translateX(-188px) translateY(1px);
            user-select: none;
            cursor: default;
            vertical-align: center;

            text-align: center;

            transition: transform 0.2s;

            @media (max-width: 572px) {
                transform: translateX(-164px);
            }
        }

        input {
            padding: 6px;
            padding-left: 96px;
            font-size: 24px;
            outline: none;
            font-weight: bold;
            margin: 0.5rem;
            border: 1px solid #686868;
            border-radius: 4px;

            width: 480px;

            transition: border 0.3s;
        }

        input:focus {
            border: 1px solid #05FFB8;
        }
        input.wrong {
            border: 1px solid crimson;
        }

        button {
            background-color: #05FFB8;
            border-radius: 5px;
            border: none;
            padding: 4px 8px;
            color: white;
            font-weight: bold;
            position: absolute;
            transform: translateX(196px);

            transition: transform 0.3s, background-color 0.3s;

            &:hover {
                background-color: #03FF76;
            }

            @media (max-width: 524px) {
                transform: translateX(154px);
            }
        }

        button.wrong {
            background-color: crimson;
        }
    }
    .small-bot-marg {
        margin-bottom: 0.75rem;
    }
    .hidden {
        visibility: hidden;
    }
    .skip {
        color: #686868;
        text-decoration: underline;
        transition: transform 0.15s;
        &:hover {
            transform: scale(1.15);
            color: #63BAFF;
        }
    }
    .bottom-sections {
        width: 100%;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            max-width: 800px;
            margin: 3rem;
        }
    }
}