.mobile-nav {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;

  align-items: space-between;

  transition: width 0.2s;
  .empty-space {
    width: 30vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .nav-contents {
    background: white;
    width: 70vw;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: space-between;
      h3 {
        margin-top: 24px;
        color: #63baff;
        padding: 24px;
      }
      h4 {
        color: rgb(219, 85, 112);
        padding: 24px;
        margin-top: 24px;
        user-select: none;
        cursor: pointer;
        margin-right: 24px;
      }
    }
    box-shadow: 0 0 15px 0px gray;
    .navlink {
      background: #63baff;
      width: 100%;
      margin: 5px 0;
      height: 64px;
      display: flex;
      align-items: center;
      padding: 48px 24px;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    .navlink:hover {
      text-decoration: none !important;
    }

    .user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 24px;
    }
  }
}

.mobile-nav.hidden {
  width: 0;
}

.nav-bar {
  color: #63baff !important;
  // color: $blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #63baff;
  user-select: none;

  nav {
    flex-wrap: nowrap;
  }

  h1 {
    transition: font-size 0.2s;

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  a {
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;

    color: #63baff;

    transition: background 0.2s;
    padding: 10px;
  }

  a:hover {
    text-decoration: none;
    color: #63baff;
  }

  .user-dropdown {
    display: inline-block;
    outline: none !important;
    padding-left: 12px;
    transform: translateY(-2px);

    @media (max-width: 790px) {
      display: none;
    }
  }

  .navlink:hover {
    text-decoration: none;
    background: rgb(181, 199, 214);
    color: white;
  }

  .navlink.active {
    background: #63baff;
    color: white;
  }

  .menu {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
  }

  @media (max-width: 790px) {
    .menu {
      display: block;
    }
    .navlink {
      display: none;
    }
  }
}
