.dashboard {
    // margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 1rem;
        // border: 1px dashed red;
        border-radius: 8px;
    }
    .welcome {
        margin-top: 2rem;
        // border: 1px dashed blue;

    }
    .graph {
        height: 25rem;
        width: 50rem;
        // border: 1px solid black;
        box-shadow: 0 0 12px -4px gray;
    }
}