.dashboard {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 65%;
    max-width: 960px;
    margin: 2rem auto;
    user-select: none;
    min-height: 80vh;
    cursor: default;
    header {
        display: flex;

        @media (max-width: 780px) {
            flex-direction: column;
            margin: 0 1rem;
        }

        justify-content: space-between;
        border-bottom: 1px solid #686868;
        .gray {
            color: #686868;
        }
    }
}