.summarized {
  display: flex;
  flex-flow: row wrap !important;
}
.stats {
  text-align: center;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  max-width: 1024px;
  cursor: default;
  user-select: none;
  .stat {
    box-shadow: 0 0 12px -4px gray;
    h4 {
      font-size: 16px;
    }

    p {
      font-weight: bolder;
      font-size: 20px;
    }

    .sign-in {
      font-size: 14px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;

    border-radius: 8px;
    width: 128px;
    height: 128px;
    margin: 6px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    object-fit: cover;
    user-select: none;
    cursor: default;
    .stat-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 164px;
      margin: 1rem;
      .box {
        padding: 1rem;
        width: 100%;
        height: 196px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 0 12px -4px gray;
        h2 {
          margin-top: 12px;
          margin-bottom: 24px;
        }
        p {
          line-height: 1;
          margin-bottom: 3px;
        }
      }
    }
  }

  .bottom {
    h3 {
      margin: 24px;
    }

    .stat-big {
      margin-bottom: 9px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        margin-bottom: 7px;
        font-size: 24px;
        .tense {
          font-weight: bold;
        }
      }
      .progress {
        width: 100%;
      }
    }
  }
}
