.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 2rem 0;
    }
    .settings-box {
        margin: auto;
        max-width: 50%;
        box-shadow: 0 0 12px -4px gray;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        // margin-top: 3rem;
        .tenses {
            display: grid;
            grid-template-columns: repeat(3, 33%);
            @media (max-width: 790px) {
                grid-template-columns: repeat(2, 50%);
            }
        }
        input {
            margin-right: 0.25rem;
        }
        label, Button {
            margin-right: 0.75rem;
        }
    }
}